.container {
    margin-top: 1%;
    height: 75.8vh!important;
}


#form-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.request-card {
    margin: auto;
}

#logOut {
    margin: 1%;
}

.btn-aprobar {
    background-color: #FFBF00 !important;
    border-color: #FFBF00 !important;
    color: #000;
}