:root{
    font-family: "Helvetica Neue", sans-serif !important; 
    --primary-color: #FFBF00;
    --bs-primary: var(--primary-color);
    --secondary-color: #000E33;
    --warning-color : #990000;
    --black: #111111;
}

.primary-text{
    color: var(--primary-color)
}

.btn-primary{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 600;
    outline: none;
}

.btn-primary:hover{
    background-color: var(--black);
}

.text-danger{
    color: var(--warning-color)
}

.no-underline{
    text-decoration: none;
}

.pop-up{
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 300px;
    height: 50px;
    border: 0.01em solid black;
    opacity: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-weight: 600;
}

.pop-up>img{
    width: 20px;
    height: 20px;
}

.fail-popup{
    background-color: var(--warning-color);
    color: white;
}

@keyframes showPopUp{
    25%{
        display: block;
        bottom: 20px;
        opacity: 1;
    }

    50%{
        display: block;
        bottom: 20px;
        opacity: 1;
    }

    100%{
        bottom: 0px;
        display: none;
        opacity: 0;
    }
}

